body {
    height: 100%;
    background-image: url("../images/fundoBlackG.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;

    
}

h1 {
    color: black;
    }

h2 {
    color: rgb(5, 5, 5);
    font-size: larger;

}

label {
    color:white;
}